[*.{cs,vb}]

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = false:suggestion

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = none
